<!DOCTYPE html>
<html>
  <head>
    <title>Currency Rates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#rates_table').DataTable();
        } );
    
    </script>
    <style>
    .container {
      max-width: 1000px;
    }
    </style>
  </head>
  <body>
    <div class="contaier">
      <table class="table table-striped table-sm" id="rates_table">
        <thead>
          <tr>
            <th>Date</th>
            <th>nominal</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
            {% for rate in rates %}
              <tr>
                <td>{{rate.date}}</td>
                <td>{{rate.nominal}}</td>
                <td>{{rate.value}}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br/>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
  </body>
<html>
